

jeffreytse/zsh-vi-mode
hadenlabs/zsh-alacritty
hadenlabs/zsh-resources
hadenlabs/zsh-flutter
hadenlabs/zsh-tmux
hadenlabs/zsh-starship
hadenlabs/zsh-rvm
luismayta/zsh-nvim
hadenlabs/zsh-yarn
luismayta/zsh-osx
luismayta/zsh-apps
hadenlabs/zsh-bitwarden
hadenlabs/zsh-templates
hadenlabs/zsh-git
hadenlabs/zsh-issues
hadenlabs/zsh-cheat
luismayta/zsh-vscodium
luismayta/zsh-trash
luismayta/zsh-pazi
luismayta/zsh-clean
hadenlabs/zsh-docker
hadenlabs/zsh-keybase
hadenlabs/zsh-ssh
luismayta/zsh-tfenv
luismayta/zsh-rust

luismayta/zsh-aliases

hadenlabs/zsh-k9s
hadenlabs/zsh-kubectl
hadenlabs/zsh-helm
hadenlabs/zsh-devops

hadenlabs/zsh-aws
