# Configurations Zsh
hadenlabs/zsh-deno
hadenlabs/zsh-alacritty
hadenlabs/zsh-resources
hadenlabs/zsh-templates
hadenlabs/zsh-ssh
hadenlabs/zsh-tmux
hadenlabs/zsh-starship
hadenlabs/zsh-yarn
hadenlabs/zsh-git
hadenlabs/zsh-issues
hadenlabs/zsh-cheat
luismayta/zsh-aliases
luismayta/zsh-clean

# Tools
hadenlabs/zsh-bitwarden
hadenlabs/zsh-docker
hadenlabs/zsh-keybase
luismayta/zsh-apps
luismayta/zsh-vscodium
luismayta/zsh-trash

# DevOps & K8s
hadenlabs/zsh-k9s
hadenlabs/zsh-kubectl
hadenlabs/zsh-helm
hadenlabs/zsh-devops
hadenlabs/zsh-tfenv

# Languages
hadenlabs/zsh-flutter
hadenlabs/zsh-rvm
luismayta/zsh-rust

# Platform
hadenlabs/zsh-aws
luismayta/zsh-osx

# Other
hadenlabs/zsh-hacker
luismayta/zsh-pazi