.dockerignore
docker-compose.yml
node_modules/
.git/
coverage/
vendor/
docs/

Dockerfile

.gitignore
.env
.eslintrc
.editorconfig
.git*

.vagrant/
.cache/
.wercker/
.sass-cache/*
*.sql
*.log
*.pyc
*.tar*
