@slovacus <slovacus@gmail.com> luis mayta <slovacus@gmail.com> luis alberto mayta <slovacus@gmail.com>
@slovacus <slovacus@gmail.com> L. Mayta <slovacus@gmail.com> $GIT_AUTHOR_NAME <$GIT_AUTHOR_EMAIL>
@slovacus <slovacus@gmail.com> @slovacus slovacus@gmail.com Luis Alberto Mayta <tezuka@Osiris.local>
@slovacus <slovacus@gmail.com> luis Alberto Mayta Mamani <slovacus@gmail.com>
@slovacus <slovacus@gmail.com> luis Alberto Mayta slovacus@gmail.com
