.next
.serverless
.serverless_nextjs
node_modules
dist
build
package.json
package-lock.json
coverage
.mypy_cache/
.build
.terraform
.ci/linters/.cache/*
.cache/*
terraform.md
*.tpl.md
*.enc.yaml
vendor
public
staticfiles
out
.vscode-test
.cache
.venv
.task
contrib/
site/
.external_modules
CHANGELOG.md
charts
