name: lint-code

on:
  schedule:
    - cron: '0 0 * * *' # every day at midnight

  push:
    branches:
      - develop

  pull_request:
    branches:
      - develop

jobs:
  pre-commit:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        if: ${{ !env.ACT }}
        uses: actions/checkout@v2
      - uses: hadenlabs/action-pre-commit@0.1.2
        with:
          args: run --all-files
